Flask           # Flask web framework
pandas           # Data processing and manipulation
openpyxl          # For reading Excel files
scikit-learn    # Machine learning library
numpy           # Numerical computing library